---
- name: Install Git
  yum:
    name: git
    state: present

- name: Install Docker
  yum:
    name: docker
    state: present

- name: Add ec2-user to Docker group
  user:
    name: ec2-user
    groups: docker
    append: yes

- name: Install OpenJDK 17
  yum:
    name: java-17-amazon-corretto
    state: present

